@font-face {
  font-family: 'Gotham';
  src: url('./fonts/gotham/GOTHAM-MEDIUM.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url(./fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-gotham: 'Gotham', sans-serif;
  --cor-branco: #F9F9F9;
  --cor-azul-escuro: #0A1A2F
  --cor-amarelo: #FDAD00;
}

body,html{
  margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--font-gotham);
    line-height: 1.5;
}

* {
margin: 0;
padding: 0;
text-decoration: none;
list-style-type: none;
box-sizing: border-box;
}

h1 {
  font-size: 24px;
  text-align: center;
}