.sliderWrapper {
    width: 100%;
}


.slideContainer {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 600px;
    outline: none;
    box-sizing: border-box;
}



:global(.slick-dots li button::before) {
    margin-top: 5rem;
    color: white !important;
    font-size: 1.5rem !important;
}

:global(.slick-dots li) {
    margin: 2rem !important;
}

:global(.slick-dots) {
    z-index: 10;
}